@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-header">MI PERFIL</li>
    <li class="nav-item">
        <a href="widgets.html" class="nav-link">
            <i class="nav-icon fas fa-user-circle"></i>
            <p>
                Mi perfil
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="widgets.html" class="nav-link">
            <i class="nav-icon fas fa-key"></i>
            <p>
                Cambio de contraseņa
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a href="#" class="nav-link" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
            <i class="nav-icon fas fa-sign-in-alt"></i>
            <p>
                Cerrar sesion
            </p>
        </a>
        <form id="logout-form" style="display: none;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>

}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
            <i class="nav-icon fas fa-user-circle"></i>
            <p>
                Registrarse
            </p>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
            <i class="nav-icon fas fa-key"></i>
            <p>
                Iniciar sesion
            </p>
        </a>
    </li>
}